# =====================================================
# JustDefenders ©
# Ignore sensitive + build files
# =====================================================

node_modules
.next
.env.local
.env
.env.backup
dist
build
*.log
coverage
debug-*.html